[submodule "local-plugins/dsh-usage-vendor-stats"]
	path = local-plugins/dsh-usage-vendor-stats
	url = git@github.com:T-Markus-Liang/dsh-usage-vendor-stats.git
[submodule "local-plugins/dsh-image-text-bridge"]
	path = local-plugins/dsh-image-text-bridge
	url = git@github.com:T-Markus-Liang/dsh-image-text-bridge.git
